* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

/* ************************************** */
/* REUSABLE COMPONENTS
/* ************************************** */

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid--2-col {
  grid-template-columns: repeat(2, 1fr);
  gap: 35rem;
}

.padding-top-bg {
  padding-top: 9.6rem;
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}
