/* ************************************** */
/* HEADER SECTION
/* ************************************** */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10rem;
  margin-top: 1.6rem;
}

.logo-img {
  width: 5%;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
  font-size: 1.4rem;
  transition: all 0.3s;
  padding-right: 10rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:active {
  color: #0ca678;
}

.nav-link.nav-cta:link,
.nav-link.nav-cta:visited {
  background-color: #0ca678;
  color: #e6fcf5;
}

.nav-link.nav-cta:hover,
.nav-link.nav-cta:active {
  background-color: #12b886;
  color: #fff;
}
