/* ************************************** */
/* HEADER SECTION
/* ************************************** */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10rem;
  margin-top: 1.6rem;
}

.logo-img {
  width: 5%;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:active {
  color: #0ca678;
}

.nav-link.nav-cta:link,
.nav-link.nav-cta:visited {
  background-color: #0ca678;
  color: #e6fcf5;
}

.nav-link.nav-cta:hover,
.nav-link.nav-cta:active {
  background-color: #12b886;
  color: #fff;
}

.background-img {
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.8)),
    url(/img/IMG_0803.jpg);
  background-size: cover;
}
/* ************************************** */
/* HERO SECTION
/* ************************************** */

.section-hero {
}

.heading-box {
  margin-top: 9.6rem;
}

.heading-hero {
  font-size: 6.4rem;
  color: #e6fcf5;
}

.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-img {
  width: 100%;
}

.description-hero {
  font-size: 1.8rem;
  max-width: 60ch;
  color: #e6fcf5;
}
